body {
	margin: auto;
    width: 80%;
    padding-top: 10px;
	background-image: url(background-img.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	display: block;
	background-attachment: fixed;
	background-size: cover;
}
div.heading {
    margin: 30px;
    background-color: #ffffff;
	border: 1px solid black;
    opacity: 0.85;
    filter: alpha(opacity=60);
	text-align: center;
	font-family: Arial;
	Color: Purple;
}
p.a {
	text-align: right;
	padding-right: 10px;
}
div.blog {
    margin: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
    background-color: #ffffff;
	border: 1px solid black;
    opacity: 0.85;
    filter: alpha(opacity=60);
	font-family: Arial;
}
table th, td {
	width: 100%;
	border: 3px solid purple;
	padding: 5px;
	table-layout: fixed;
}
